/* font family */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

/* global-css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
  font-family: 'Inter', sans-serif; 
}
.container{


}
.banner{

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Banner\ Image.png);
    max-width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.banner-content h2{
    color: #fff;

    font-size: 32px;
    font-weight: bold;

text-align: center;

}
.banner-content h1{
    color: #FFF;
text-align: center;
font-size: 72px;

width: 632px;
height: 192px;
}
/* all-category-section */

.all-category-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:80px;
}
.all-category-section h1{
    color: #F00;

font-size: 88px;
font-weight: 700;
margin-bottom: 20px;


}
.all-category-section h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;

}
.all-category-section h2{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.all-category-section >figure> img{

    width: 802px;
    lighting-color: 50%;
    height: 500px;
}
/* banner-section2 */
.banner_section2{
    background-image: linear-gradient(90deg,rgb(0 0 0 / 77%), rgba(0, 0, 0, 0.4)), url(../images/Vectorrr.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1320px;
    height: 600px;
    margin-top: 60px;
}
.banner_section2_content h1{
    color: white;

    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: 20px;
    text-align: justify;
}
.banner_section2_content{
    width: 624px;
    padding: 0 40px;

}
.banner_section2_content p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 12px;


    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
    text-align: justify;
    
}
.banner_section2_img >img{
    width: 319px;
    height: 344px;
}
.banner_section2_content a{
    color: #fff;
text-decoration: none;

font-size: 18px;
font-weight: 700;
text-transform: uppercase;

}
/* location span............. */
.location_section {
    width: 1320px;
    height: 482px;
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
/* .location-text{
    width: 549px;
    height: 168px;
} */

.location_section  h1{
    text-transform: uppercase;
    font-size: 32px;

    color: #070211;
}
.location_section h1 >span{
    color: #f00;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
display: inline-block;
margin-bottom: 20px;

}
.location_btn{
background-color: #F00;
color: white;
border:none;
font-size: 20px;
text-align: center;
font-weight: 700;
padding: 16px 32px;
border-radius: 5px;
margin-top: 20px;

}
/* Best Offer Section -=========================================*/
.offer_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    width: 1320px;
    height: 482px;
}
.offer_left{
    width: 393px;
    height: 244px;
    
}
.offer_left h2{
    color: #F00;
    font-size: 24px;
    font-weight: 500;

    margin-bottom: 10px;
}
.offer_left h1{
    color: #070211;
font-size: 40px;
font-weight: 900;
text-transform: uppercase;
margin-bottom: 10px;
}
.offer_left p{
   color: rgba(7, 2, 17, 0.60);
   font-size: 20px;
   line-height: 32px;


}
.offer-middle_img{
    border-radius: 430px;
    border: 15px solid #F00;
    padding:20px  ;

margin:0 60px


}
.offer-middle_img >img{

    width: 320px;
    height: 340px;
  
    
}
/* .offer_right {
    padding-left: 70px;


} */
.offer_right h1{
    color: #F00;
    font-size: 44px;


}
.offer_right p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-weight: 400;
}
.offer_right >img{
    width: 140px;
    height: 140px;
 
}
/* Discount-section=----------------------------------------------------------------- */
.discount-section{
    width: 1320px;
    height: 946px;
    margin-top: 60px;
    background-color: rgba(255, 0, 0, 0.322);


}
.discount-text{
  
text-align: center;


}
.discount-text h4{
    font-size: 24px;
    color: #070211;
}
.discount-text >h1{
font-size: 72px;
color: #070211;
margin-bottom: 20px;
}
.discount-text >h1>span{
    color: red;
    font-size: 72px;
    font-weight: 900;
    
    
    }
.discount-text >p{
    width: 1089px;
    height: 96px;
margin: 0 auto;
color: rgba(7, 2, 17, 0.60);
font-size: 20px;
}

.discount_img_right{
    background: url("../images/Rectangle 1.png")
}

/* PORTFOLIO_SECTON--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.porfolio_section{
    margin-top: 60px;
    width: 1320px;
    height: 1163px;
}
.portfolio-text >h4 {
color: #F00;
font-size: 24px;
font-weight: 500;
margin-bottom: 10px;
    }
.discount-text >h1{
color: #070211;
font-size: 48px;
font-weight: 900;
text-transform: uppercase;
margin-bottom: 10px;
}
  .portfolio-text p{
      margin-top: 10px;
    color: rgba(7, 2, 17, 0.60);
    }
    .portfolio-column{
        display: flex;
        gap: 24px;
   margin-top: 20px;
    }
    .portfolio-column >img{
        width: 424px;
height: 450px;

    }
    .portfolio-column>img:hover{

opacity: 0.3;
border-radius: 200px;
background-color: rgba(255, 0, 0, 0.199);
transition: 1s;
    }
    /* contact section.............................. */